<mat-toolbar>
  <span>Film list</span>
</mat-toolbar>

<div class="center-screen">

  <div class="film-table">
    <mat-form-field class="search-film">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Film title,director... " #input>
    </mat-form-field>
  <a [routerLink]="['/films/new']" mat-raised-button color="primary" class="add-film">Add Film</a>&nbsp;
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" aria-describedby="List of available films">
    <!-- filmId Column -->
    <ng-container matColumnDef="filmId" >
      <th mat-header-cell *matHeaderCellDef class="header-color"> No. </th>
      <td mat-cell *matCellDef="let film"> {{film.filmId}} </td>
    </ng-container>
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let film"> {{film.title}} </td>
    </ng-container>
    <!-- Genre Column -->
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef> Genre </th>
      <td mat-cell *matCellDef="let film"> {{film.genre}} </td>
    </ng-container>
    <!-- Director Column -->
    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef> Director </th>
      <td mat-cell *matCellDef="let film"> {{film.director}} </td>
    </ng-container>
    <!-- AvgRate Column -->
    <ng-container matColumnDef="AvgRate">
      <th mat-header-cell *matHeaderCellDef> AvgRate </th>
      <td mat-cell *matCellDef="let film" > {{film.averageRating | nanPipe}} </td> <!--The pipe is used is case no rates yet-->

    </ng-container>

    <!-- Delete/Edit buttons -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let film">
        <a (click)="openDialog(film)" mat-raised-button color="primary">Rate</a>&nbsp;
        <a [routerLink]="['../films', film.filmId ]" mat-raised-button color="primary">Edit</a>&nbsp;
        <button (click)="delete(film)" mat-button color="warn"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <!-- Header row definition -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <!-- Data row definition -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.row-is-clicked]></tr>
  </table>
</div>
</div>
<div>

</div>

<ng-container>
  <app-recommendation [parentData]="dataSource"></app-recommendation> <!-- Used onChange on child componant to reload -->
</ng-container>

